PORT=5005
DATABASE_URL="postgresql://your_mac_username@localhost:5433/devlog?schema=public"
REDIS_HOST="localhost"
REDIS_PORT=6379
GITHUB_WEBHOOK_SECRET="your_github_webhook_secret"
SESSION_SECRET="your_session_secret"
